<div class="col-sm">
    <div class="container-fluid demoBackground ">
        <img class="rounded-circle profileImage" src="/images/me.jpg" alt="Card image cap">
        <div class="card profile-image colorPortafolio">
            <div class="card-body presentation">
                <h5 class="card-title">Adrián lópez de la cruz </h5>
                <p class="card-text oswalText">Desarrollador web</p>
                <div class="hobbys-icons">
                    <i class="fa fa-pencil"></i>
                    <i class="fa fa-book"></i>
                    <i class="fa fa-gamepad"></i>
                </div>
            </div>
        </div>
        <div class="card contact colorPortafolio ">
            <div class="card-body">
                <div class="card-title oswalText">contacto
                </div>
                <div class="card-text  contactos-info">
                    <div>
                        <i class="fa fa-github"></i>
                        <span><a href="https://github.com/LordCafe">https://github.com/LordCafe</a></span>
                        
                    </div>
                    <div>
                        <i class="fa fa-mobile"></i>
                        <span> 933 1 21 1496</span>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <span>adrianlopezdelacruz@hotmail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card contact colorPortafolio ">
            <div class="card-body">
                <div class="card-title oswalText">Sobre mi
                </div>
                <div class="card-text">
                    Curioso por naturaleza, pasión por la programación, me gusta aprender,
                    he aprendido a organizarme para lograr objetivos según las necesidades.
                    Pasatiempos como el ajedrez, café, gym.
                    Creo que el verdadero fracaso es no aprender de los errores.
                </div>
            </div>
        </div>
        <div class="card contact colorPortafolio ">
            <div class="card-body">
                <div class="card-title oswalText">Sobre mi
                </div>
                <div class="card-text">
                    Curioso por naturaleza, pasión por la programación, me gusta aprender,
                    he aprendido a organizarme para lograr objetivos según las necesidades.
                    Pasatiempos como el ajedrez, café, gym.
                    Creo que el verdadero fracaso es no aprender de los errores.
                </div>
            </div>
        </div>
        <div class="card skills colorPortafolio ">
            <div class="card-body">
                <div class="card-title oswalText">Aptitudes
                </div>
                <div class="card-text">
                    <div class="skills" data-skills='PHP' data-good='3'></div>
                    <div class="skills" data-skills='Javascript' data-good='5'></div>
                    <div class="skills" data-skills='JavaScript: ES6' data-good='5'></div>
                    <div class="skills" data-skills='jQuery' data-good='3'></div>
                    <div class="skills" data-skills='Node.js' data-good='5'></div>
                    <div class="skills" data-skills='Drupal 7' data-good='5'></div>
                    <div class="skills" data-skills='Symfony' data-good='3'></div>
                    <div class="skills" data-skills='Express' data-good='5'></div>
                    <div class="skills" data-skills='Git' data-good='5'></div>
                    <div class="skills" data-skills='React' data-good='3'></div>
                    <div class="skills" data-skills='Linux' data-good='5'></div>
                    <div class="skills" data-skills='MongoDB' data-good='5'></div>
                </div>
            </div>
        </div>
    </div>
</div>