<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card box-chat ">
            <div class="card-header">
                <div class="header">
                    <span class="bullet bullet-red"></span>
                    <span class="bullet bullet-yellow"></span>
                    <span class="bullet bullet-green"></span>
                    <span class="title">
                        Chat...
                    </span>
                </div>
            </div>
            <div id="app"></div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <form>
            <input id="ResetChat" class="btn btn-primary" type="reset" value="Reset">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>