<div class="container content">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card-title oswalText">Mini chat...
            </div>
            <div  class="Instructions">
                <p>Hacer click en el botón de One demo chat.</p>
                <p>Este mini chat esta hecho con React y con un API <a href="https://baconipsum.com/">baconipsum</a>
                    para los textos randoms.
                </p>
                <p> También hay un custom event que logra comunicarse con el componente React.
                </p>
            </div>
            <div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card box-chat ">
                <div class="card-header">
                    <div class="header">
                        <span class="bullet bullet-red"></span>
                        <span class="bullet bullet-yellow"></span>
                        <span class="bullet bullet-green"></span>
                        <span class="title">
                            <form class="oneDemoChat">
                                <input id="ResetChat" class="btn btn-primary" type="reset" value="One demo chat ...">
                            </form>
                        </span>
                    </div>
                </div>
                <div id="app"></div>
            </div>
        </div>
    </div>
</div>
<script>
document.querySelector("#ResetChat").addEventListener('click', function(e) {
    var event = new CustomEvent("chatDemo", {
        detail: e.target
    });
    window.dispatchEvent(event);
});
</script>